body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}
.one {
    color: white;
    padding-top: 10px;
    padding-left: 127px;
}
.img {
    margin-left: 49px;
}
 .text {
    text-align: left;
    position: absolute;
    left: 57%;
    bottom: 329px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 h1 {
    font-weight: 600;
 }
 p {
    font-weight: 400;
 }
 button {
    background-color: white;
    border-color: white;
    width: 147px;
    height: 49px;
    border-radius: 20px;
    position: relative;
    top: 35px;
    box-shadow: 10px 12px 11px 4px;
    transition: 1s;
 }
 
 button:hover {
    background-color: blueviolet;
    color: white;
 }